<h1>Title:</h1>
<h2><%= @article.title %> </h2>

<h1>Description:</h1>
<p> <%= @article.body %></p>

<ul>
  <li> <%= link_to "Edit",edit_article_path(@article) %></li>
  <li><%= link_to "Destroy", article_path(@article),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>